<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stone.ipc"
    android:sharedUserId="com.stone.ipc.share">

    <!-- 自定义权限, service 中定义了该权限，想调用 service 的其它 app，就需要使用 该权限 -->
    <permission android:name="com.stone.ipc.share.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal"/>
    <uses-permission android:name="com.stone.ipc.share.permission.ACCESS_BOOK_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" android:process="com.stone.ipc.p1"/>

        <service android:name=".BookService" android:process="com.stone.ipc.p2"
                 android:exported="false"
                 android:permission="com.stone.ipc.share.permission.ACCESS_BOOK_SERVICE"/>
        <!--exported=true 表示可被外部应用 调用；默认为 false -->
        <service android:name=".BookMessengerService" android:process="com.stone.ipc.p3"/>
    </application>
</manifest>
